/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "normalize.scss";

//Variables
$text-grey: #676e73;

//Clearfix
.clearfix:after { 
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden; 
}
.clearfix { 
  display: inline-block;  
}
* html .clearfix {  
  height: 1%;  
} /* Hides from IE-mac \*/
.clearfix {  
  display: block;  
}

//CSS
.container {
	width: 75%;
	margin: 0 auto;
	position: relative;
}

.header {

	h1 {
		font-family: Helvetica, Arial, sans-serif;
		word-spacing: -7px;
		margin-top: 14px;

		span {
			font-weight: 300;
		}
	}
	img {
		float: left;
		width: 75%;
	}
	.black-box {
		background-color: black;
		width: 24%;
		height: 200px;
		float: right;
	}
	.header-images {
		position: relative;

		h2 {
			position: absolute;
			color: white;
			font-weight: 300;
			
			.text-part {
				display: block;
				margin-top: 5px;
				background-color: rgba(0, 0, 0, 0.7);
				padding: 5px;
			}
		}
	}
}

.nav {
	position: absolute;
	right: 0;
	top: -3px;
		li {
			display: inline;
			margin-left: 1em;
			a {
				text-decoration: none;
				color: $text-grey;
				font-size: 0.8em;

				&:visited {
					color: #14659d;
				}

				&:hover {
					text-decoration: underline;
				}
			}
		}
	
}

.main-content {
	.textbox {
		width: 37.5%;
		float: left;
	}
}