/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "normalize.scss";

//Variables
$text-grey: #424648;

//Clearfix
.clearfix:after { 
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden; 
}
.clearfix { 
  display: inline-block;  
}
* html .clearfix {  
  height: 1%;  
} /* Hides from IE-mac \*/
.clearfix {  
  display: block;  
}

//CSS
.container {
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}

.header {

	h1 {
		font-family: Helvetica, Arial, sans-serif;
		word-spacing: -7px;
		margin-top: 14px;

		span {
			font-weight: 300;
		}
	}
	img {
		float: left;
		width: 75%;
	}
	.black-box {
		background-color: black;
		width: 24%;
		height: 278px;
		float: right;

		background: #303030; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #303030 4%, #131313 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(4%,#303030), color-stop(100%,#131313)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  #303030 4%,#131313 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  #303030 4%,#131313 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  #303030 4%,#131313 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  #303030 4%,#131313 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


	}
	.header-images {
		position: relative;

		h2 {
			position: absolute;
			color: white;
			font-weight: 300;
			margin-top: 4.6em;
			margin-left: 15px;
			-webkit-font-smoothing: antialiased;
			font-size: 1.8em;
			
			.text-part {
				display: block;
				margin-top: 4px;
				background-color: rgb(0,0,0);
				background-color: rgba(0, 0, 0, 0.6);
				padding: 4px;
			}
		}
	}
}

.nav {
	position: absolute;
	right: 0;
	top: -3px;
		li {
			display: inline;
			margin-left: 1em;
			a {
				text-decoration: none;
				color: $text-grey;
				font-size: 0.8em;

				&:visited {
					color: #14659d;
				}

				&:hover {
					text-decoration: underline;
				}
			}
		}
	
}

.main-content {
	

	.textbox {
		width: 37.5%;
		float: left;


		h3 {
			font-weight: 300;
			font-size: 1.8em;
			margin: 3px 0 22px 0;
		}

		hr {
			width: 331px;
			margin-left: 0;
			border-top: 1px solid;
			background-color: #fff;
			color: #898b8d;
		}

		p {
			color: $text-grey;
			font-size: 0.8em;
			padding-right: 30px;
			line-height: 1.6em;
		}
	}

	.main-quote {

	}
}

.footer {
	span {
		width: 100%;
	}
}